@(gameIds: Iterable[String])

@main("Game Of Life", isGame = false) {

    <div class="container">
        <div class="row">

            <div class="col-xs-12">
            
                @if(gameIds.nonEmpty) {
	                <h4>Choose a game</h4>
	                
	                <ul>
	                    @for(game <- gameIds) {
	                        <li><a href="@routes.Application.playGameByID(game)">@game</a></li>
	                    }
	                </ul>
                }

	        </div> <!-- .col -->
	    </div> <!-- .row -->
    </div> <!-- .container -->

}
